* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 5rem);
    grid-template-rows: repeat(9, 5rem);
    grid-template-areas:
            "0 A B C D E F G H"
            "1 A8 B8 C8 D8 E8 F8 G8 H8"
            "2 A7 B7 C7 D7 E7 F7 G7 H7"
            "3 A6 B6 C6 D6 E6 F6 G6 H6"
            "4 A5 B5 C5 D5 E5 F5 G5 H5"
            "5 A4 B4 C4 D4 E4 F4 G4 H4"
            "6 A3 B3 C3 D3 E3 F3 G3 H3"
            "7 A2 B2 C2 D2 E2 F2 G2 H2"
            "8 A1 B1 C1 D1 E1 F1 G1 H1"
;

    width: 45rem;
    height: 45rem;
    margin: 10% 37%;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}

.text {
    font-size: 3rem;
    text-align: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.grid-item:nth-child(even) {
    background-color: black;
}

.rook {

}

.white-chess {
    font-size: 4rem;
    color: red;
    text-align: center;
}

.black-chess {
    font-size: 4rem;
    color: blue;
    text-align: center;
}